
<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-content>
      <ion-grid>
        <ion-row>
        <ion-col >
        <app-input 
          label="Email"
          placeholder="jane@doe.com" 
          type="email"
        ></app-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col >
        <app-input 
          label="Password" 
          placeholder="jane" 
          type="password"
        ></app-input>
        </ion-col>
      </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>
